---
---
$color-noir: #2A2A2A;
$color-font: #6E7887;
$color-bleu: #00B4BC;
$color-hover: #1DD2DA;
$color-hover2: #EDEDED;

body{
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	color: $color-font;
	min-height: 100vh;
}
.row{margin-top: 2em; margin-bottom: 2em;}

h1,h2,h3,h4,h5{font-family: 'Gelasio', serif; color: $color-bleu;}
p{line-height: 2.2em;}
h1,h2{font-size: 1.8em;}
h3{font-size: 1.5em;}
a{
	color: $color-bleu;
	&:hover{color:$color-hover;}
}

nav{
	text-transform: uppercase;
	font-size: 0.9em;
	justify-content: center;
	margin: 0 auto;
	&.bg-light{
		max-width: 1140px;
	}
}
.navbar-brand{padding-right: 0.5em; font-weight: 900;}
.navbar-expand-lg .navbar-nav .nav-link{
	margin-right: 0.5em;
	margin-left: 0.5em;
	margin-bottom: 10px;
	border-bottom: 3px solid #f8f9fa ;
	&:active, &:focus, &:hover, &:focus-within{
		color:$color-bleu;
		border-bottom: 3px solid $color-bleu;
	}
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
	color:$color-bleu;
	border-bottom: 3px solid $color-bleu;
}

.reduction{
	background-color: $color-bleu;
	padding: 2em;
	align-items: center;
	p{font-family: 'Gelasio', serif; color: #fff; font-size: 1.7em; line-height: 1.2em;}
	sup{font-size: 0.7em;}
	span{color: #fff; font-weight: 500;}
	button.btn{
		background-color: #fff;
		color: $color-bleu;
		margin: 0 auto;
		font-size: 1em;
		&:hover, &:focus{
		background-color: #fff;
		border: none;
		box-shadow: none;
		color: $color-hover;
		}
	}
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}

.line{
	background-color: $color-bleu;
	color: #fff;
	padding: 0.3em;
	max-width: 300px;
}

button.btn, input.btn{
	background-color: $color-bleu;
	border:none;
	font-size: 0.9em;
	padding: 1em;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 1em;
	&:hover, &:focus{
		background-color: $color-hover;
		border: none;
		box-shadow: none;
	}
	a{color: #fff;text-decoration: none;}
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus{
	box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle{
	background-color: $color-bleu;
}

.carousel{margin: 2em 0;}
.img-fluid{margin: 1em 0;}

.box{
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	margin-top: 1em;
	p{margin: 0 1em;}
	button{margin-bottom:0;}
}

.window{
	background-color: $color-bleu;
	color: #fff;
	text-align: center;
	padding: 1em 2em 3em 2em;
	margin: 2em 0;
	h3{
		color: #fff;
		width: 70%;
		margin: 0 auto;
	}
	svg{
		max-width:180px ;
		margin: 0 auto;
	}
	span{
		font-weight: 700;
		line-height: 1.5em;
	}
	.row{max-width: 1140px; margin: 0 auto;}
}

.adress{
	p{line-height: 1em;}
}

.form-control{
	background-color: #F1F1F1;
	border: 1px solid #C9D3DF;
}

.form-control:focus{
	background-color: #F1F1F1;
	border: 1px solid #B7BFC8;
	box-shadow: 0 0 0 .2rem #D8D8D8;
}

footer{
	color: #fff;
	background-color: $color-noir;
	padding: 0.5em;
	margin-top: auto;
	p{margin-bottom: 0;line-height: 1.2em;}
	a{color: #fff;}
	nav a{
		color: #fff;
		&:hover, &:focus, &:focus-within, &:active{
			color:#fff;
			text-decoration: underline!important;
		}
	}
}

/*Pop up*/
.modal-dialog{
	max-width: 400px;
}

.modal-body{padding: 0 3rem;}

.modal-header{
	border-bottom: none;
	padding: 2rem 2rem 0 3rem;
}

.modal-footer{
	border-top: none;
	text-align: center;
	justify-content: center;
	.btn{padding: 1em 3em;}
}

.modal-title{font-size: 2em;}
.close{font-size: 2em;}

.form-group{
	margin: 2em 0;
	position: relative;
}

.input_icon{
	position: absolute;
	top: 0.1em;
	left: 0.5em;
	font-size: 21px;
	width: 50px;
}

.mail{
	font-size:15px;
	top: 0.5em;
}

.form-check{
	display: flex;
	align-items: center;
	label{
		margin-left: 1em;
		line-height: 3em;
	}
}

.form-control{padding-left: 2em;}
.form-check-input{margin-top: 0;}

input[type="checkbox"], input[type="radio"]{
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -border-radius: 4px;
    height: 30px;
    width: 30px;
  	background: #F1F1F1;
    border: 1px solid #C9D3DF;
    border-radius: 5px;
    line-height: 1.6em;
}

input[type="checkbox"]:checked {
  background: #F1F1F1;
  position: absolute;
  &:before {
    content: '\2713';
    font-size: 1.4em;
    display: block;
    color: grey;
    position: absolute;
    align-items: center;
    padding-left: 0.3em;
  }
}

.info{
	padding: 2em;
	text-align: center;
	font-size: 1.2em;
	svg{max-width: 200px;max-height: 300px;}
}

.portecarousel{text-align: center;}
.carousel-caption{max-width:300px;margin: 0 auto; background-color: rgba(0,0,0,0.3);}

.map-responsive {
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}

.map-responsive iframe {
	left:0;
	top:0;
	max-height: 450px;
	width:100%;
	position:absolute;
}

@media (max-width: 768px) {
	h1,h2{font-size: 1.2em;}
	h3{font-size: 1.1em;}
	p{
		line-height: 1.9em;
		font-size: 0.8em;
	}
	.window span{font-size: 0.9em;}
	button.btn{
		font-size: 0.7em;
	}
	.reduction{
	padding: 1em;
	p{font-size: 1em;margin-bottom:0;}
	span{font-size: 0.8em;}
	button.btn{
		font-size: 0.7em;
		margin-top: 1em;
	}
}
}