---

---
 {% include head.html %}
    <div class="container">
      <div class="row-wrap header">
        <a href="solaire.html">
          <img src="img/accueil/pergola.png">
          <div class="figcaption">Pergolas et Stores</div>
        </a>
        <a href="portes.html">
          <img src="img/accueil/porte.png">
          <div class="figcaption">Portes et volets</div>
        </a>
        <a href="portails.html">
          <img src="img/accueil/portail.png">
          <div class="figcaption">Portails et portes de garages</div>
        </a>
        <div class="intro">
          <h2>Choisir Grosfillex,</h2>
          <p>c'est la garantie d'une menuiserie sur mesure de qualité, fabriquée en France avec les meilleures performances thermiques, acoustiques et sécuritaires du marché grâce à des packs adaptés.</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactModal">
            Devis gratuit
          </button>
        </div>
        <a href="menuiserie.html">
          <img src="img/accueil/menuiseries.png">
          <div class="figcaption">Menuiseries</div>
        </a>
      </div>
      <div class="row-wrap icones">
        <div>
          <img src="img/accueil/francais.svg">
          <p>Fabrication française.</p>
        </div>
        <div>
          <img src="img/accueil/experts.svg">
          <p>Pose avec des experts qualifiés.</p>
        </div>
        <div>
          <img src="img/accueil/devis-gratuit.svg">
          <p>Un devis gratuit et un financement adapté sur-mesure.</p>
        </div>
      </div>
      <div class="reduction">
        <div class="reduction-div">
          <p>Bénéficiez d'une <b>remise sur le matériel</b>* en demandant un devis gratuit via le site.</p>
          <span>*(uniquement sur le matériel)</span>
        </div>
        {% include contact.html %}
      </div>
      <div class="row-wrap">
        <div class="adress">
          <h2>Contactez-nous</h2>
          <p>93 Rue Pasteur, 69300 Caluire-et-Cuire</p>
          <p>Du lundi au vendredi 09:00–13:00, 14:00–18:00</p>
          <p><a href="mailto:contact@1001fenetres.com">contact@1001fenetres.com</a></p>
          <p>04 78 28 18 97</p>
          <img src="img/accueil/boutique.png" class="img-fluid">
        </div>
        <div class="map-responsive">
          {% include maps.html %}
        </div>
      </div>
    </div>
    {% include footer.html %}