---

---
 {% include head.html %}
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h1>Choisir Grosfillex,</h1>
          <p>c'est la garantie d'une menuiserie sur mesure de qualité, fabriquée en France avec les meilleures performances thermiques, acoustiques et sécuritaires du marché grâce à des packs adaptés.</p>
          {% include contact.html %}
        </div>
        <div class="col-lg-8 offset-lg-1">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img/accueil/carousel1.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/accueil/carousel2.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/accueil/carousel3.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
  </div>

    <div class="container-fluid window">
        <div class="row">
          <h3>Profitez de notre expérience unique dans la rénovation, l'aménagement et la protection de la maison.</h3>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="row">
              {% include svg/financement.svg %}
            </div>
            <span>Un financement adapté sur-mesure</span>
          </div>
          <div class="col-sm">
            <div class="row">
              {% include svg/ouvrier.svg %}
            </div>
            <span>La pose avec des experts qualifiés et le respect des normes</span>
          </div>        
          <div class="col-sm">
             <div class="row">
              {% include svg/devis.svg %}
            </div>
            <span>Un devis gratuit</span>
          </div>        
          <div class="col-sm">
            <div class="row">
              {% include svg/francais.svg %}
            </div>
            <span>Des produits aux normes NF et 100% français</span>
          </div>
        </div>     
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-5 adress">
          <h2>Contactez-nous</h2>
          <p>93 Rue Pasteur, 69300 Caluire-et-Cuire</p>
          <p>Du lundi au vendredi 09:00–13:00, 14:00–18:00</p>
          <p><a href="mailto:contact@1001fenetres.com">contact@1001fenetres.com</a></p>
          <img src="img/accueil/boutique.png" class="img-fluid">
        </div>
        <div class="col-lg-7">
          {% include maps.html %}
        </div>
      </div>
    </div>
    {% include footer.html %}