---
title: Menuiseries
remise: 20%
condition: menuiseries, volets et portes d’entrées
---
  {% include head.html %}
    <div class="container">
      <div class="row-wrap header-menuiseries">
        <img src="img/menuiseries/menuiseries1.png">
        <img src="img/menuiseries/menuiseries2.png">
        <img src="img/menuiseries/menuiseries3.png">
        <div class="intro-pages">
          <h2>Menuiseries et volets</h2>
            {% include reduction.html %}
            {% include contact.html %}
        </div>
        <img src="img/menuiseries/menuiseries4.png">
      </div>
      <div class="row-wrap column">
        <div>
          <h2>Pour vous protéger du bruit, du froid,</h2>
          <p>vous sentir bien à l’abri et en <b>sécurité,</b> nos menuiseries <b>sur-mesures</b> s'adaptent aux contraintes spécifiques de votre habitation, ainsi qu'à vos attentes esthétiques.</p> <p>De fabrication <b>100% française,</b> nos menuiseries associent le savoir-faire et la qualité française à des <b>prix très concurrentiels.</b></p>
        </div>
        <div>
          <h2>Qualibat RGE</h2>
          <p>Notre agence 1001 Fenêtres Caluire est <b>certifiée <abbr title="Reconnu Garant de l’Environnement">RGE</abbr>,</b> cette mention vous permet de bénéficier <b>d'aides et de crédit d'impôts</b> selon les conditions gouvernementales en vigueur pour vos travaux de rénovation énergétique.</p>
        </div>
        <div>
          <h3>PVC</h3>
          <p>Un niveau de <b>performance thermique très élevé</b> allié à une <b>durée de vie supérieure à 30 ans</b> font du PVC le choix numéro un pour vos fenêtres, auxquels s'ajoutent de nombreux avantages comme la <b>facilité d'entretien et l'absence totale de corrosion.</b></p>
          <h3>Bois</h3>
          <p>Naturel et renouvelable, les menuiseries bois conservent l'héritage traditionnel mais allié aux exigences modernes en terme de <b>performances thermiques et acoustiques.</b></p>
          <h3>Alu</h3>
          <p>Elles proposent la plus grande surface vitrée avec des montants fins qui relèvent la <b>pureté et la finesse des lignes aluminium</b> auxquelles s'ajoutent une <b>gamme illimitée de coloris.</b></p>
        </div>
        <img src="img/menuiseries/menuiseries5.png">
        <div>
          <h2>Volets roulants et battants</h2>
          <p>Véritables boucliers thermiques, ils permettent de maîtriser la luminosité, isolent des fluctuations thermiques extérieures et du bruit tout en sécurisant votre habitation.</p>
          <p>Pour gagner en confort, la solution solaire offre une installation en toute simplicité sans branchements électriques et complètement autonome.</p>
        </div>
        <img src="img/menuiseries/menuiseries6.png">
      </div>
        {% include catalogue.html %}
        {% include contact.html %}
    </div>
    {% include footer.html %}