---
title: Portails
---
  {% include head.html %}
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>Portails, clôtures et gardes corps</h2>
          <p>De style contemporain ou traditionnel, nos portails, clôtures et garde-corps structurent votre espace en toute légèreté.</p> <p>Ajouré, semi-plein ou plein, ils préservent votre intimité tout en harmonie avec votre habitation.</p>

          {% include contact.html %}
        </div>
        <div class="col-lg-6">
          <img src="img/portails/portail2.png" class="img-fluid">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-md-2">
          <h2>Portes de garage</h2>
          <p>À enroulement ou sectionnelle, les portes de garage proposent des solutions innovantes et des produits qui s'accordent à tous les besoins. Nos produits motorisés permettent une ouverture automatisée en toute simplicité. Trouvez en toute simplicité la porte de garage qui correspond à vos envies.</p> <p>Elles sont conçues en réponse aux besoins de la construction, permettant une meilleure isolation car les pertes de chaleur sont éliminées dans les endroits les plus vulnérables du tablier de la porte.</p> <p>Cela représente d'avantage d'économies d'énergie pour la maison et pour votre confort.</p>

          {% include catalogue.html %}
        </div>
        <div class="col-lg-6 order-md-1">
          <img src="img/portails/portail1.png" class="img-fluid">
        </div>
      </div>
    </div>
    {% include footer.html %}
