---
title: Portes
remise: 20%
condition: menuiseries, volets et portes d’entrées
---
  {% include head.html %}
    <div class="container">
      <div class="row-wrap header-portes">
        <img src="img/portes/porte1.png">
        <img src="img/portes/porte2.png">
        <img src="img/portes/porte3.png">
        <div class="intro-pages">
          <h2>Portes</h2>
            {% include reduction.html %}
            {% include contact.html %}
        </div>
        <img src="img/portes/porte4.png">
      </div>
      <div class="row-wrap column">
        <div>
          <h2>Portes blindées</h2>
          <p>Les portes blindées certifiées A2PBPI coupe feu de fabrication française vous assure un haut niveau de sécurité grâce à ses certifications. L'intégralité de la porte est ainsi certifié pour retenir 30 min à l'effraction (pieds de biche).</p>
          <p>Le fabricant de portes Picard est l'un des seuls à avoir la certification porte blindée sur l'ensemble de la porte.</p>
          <h2>Portes d'entrée</h2>
          <p>En aluminium, en acier ou en bois, elle est l'entrée en matière de votre habitation. Des performances acoustiques et thermiques accrues, une étanchéité maximale et une sécurité optimale.</p>
        </div>
        <img src="img/portes/porte5.png">
      </div>
        {% include catalogue.html %}
        {% include contact.html %}
    </div>
    {% include footer.html %}
