---
title: Portails
remise: 15%
condition: portails, stores et pergolas
---
  {% include head.html %}
    <div class="container">
      <div class="row-wrap header-portails">
        <img src="img/portails/portail1.png">
        <img src="img/portails/portail2.png">
        <div class="intro-pages">
          <h2>Portails et portes de garage</h2>
            {% include reduction.html %}
            {% include contact.html %}
        </div>
        <img src="img/portails/portail3.png">
      </div>
      <div class="row-wrap column">
        <div>
          <h2>Portes de garage</h2>
          <p>À enroulement ou sectionnelle, les portes de garage proposent des solutions innovantes et des produits qui s'accordent à tous les besoins. Nos produits motorisés permettent une <b>ouverture automatisée</b> en toute simplicité. Trouvez en toute simplicité la porte de garage qui correspond à vos envies.</p> <p>Elles sont conçues en réponse aux besoins de la construction, permettant une <b>meilleure isolation</b> car les pertes de chaleur sont éliminées dans les endroits les plus vulnérables du tablier de la porte.</p> <p>Cela représente d'avantage <b>d'économies d'énergie</b> pour la maison et pour votre confort.</p>
        </div>
        <img src="img/portails/portail4.png">
        <div>
          <h2>Portails, clôtures et gardes corps</h2>
          <p>De style contemporain ou traditionnel, nos portails, clôtures et garde-corps structurent votre espace en toute légèreté.</p> <p>Ajouré, semi-plein ou plein, ils <b>préservent votre intimité</b> tout en harmonie avec votre habitation.</p>
        </div>
        <img src="img/portails/portail5.png">
      </div>
        {% include catalogue.html %}
        {% include contact.html %}
    </div>
    {% include footer.html %}
