---
title: Vitrines
---

{% include head.html %}
  <div class="container">
    <div class="row-wrap header-vitrine">
      <img src="img/vitrines/vitrine1.png">
      <img src="img/vitrines/vitrine2.png">
      <div class="intro-pages">
        <h2>Vitrines</h2>
          {% include contact.html %}
      </div>
      <img src="img/vitrines/vitrine3.png">
    </div>
    <div class="row-wrap column">
      <div>
        <h2>Pour les professionnels et les commerçants,</h2>
        <p>nous sommes en mesure de vous proposer l'installation ou la rénovation de votre vitrine <b>faite sur-mesure</b> dans le <b>respect des normes d’accessibilité et d'architecture imposées par le code de l'urbanisme.</b></p>
        <p>Premier contact visuel, la vitrine permet de mettre en avant votre activité professionnelle.</p>
        <p>Avec un <b>vitrage feuilleté retardateur d'effraction,</b> elle permet de <b>sécuriser</b> votre commerce.</p>
      </div>
    </div>
      {% include catalogue.html %}
      {% include contact.html %}
  </div>
{% include footer.html %}