<footer>
	<div class="row ligne1">
		<div class="col-lg-8 offset-lg-3">
			<div class="row">
				<div class="col-lg-4">
					93 Rue Pasteur, 69300 Caluire-et-Cuire
				</div>
				<div class="col-lg-4">Du lundi au vendredi 09:00–13:00, 14:00–18:00</div>
				<div class="col-lg-4">
					contact@1001fenetres.com
				</div>
			</div>
		</div>
	</div>
	<nav class="nav">
	  <a class="nav-link active" href="#">Accueil</a>
	  <a class="nav-link" href="#">Menuiseries</a>
	  <a class="nav-link" href="#">Portails et portes de garages</a>
	  <a class="nav-link" href="#">Portes et volets</a>
	  <a class="nav-link" href="#">Occultations solaires</a>
	</nav>
</footer>