<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div id="form">
        <div class="modal-header">
          <h5 class="modal-title" id="contactModalTitle">Contactez-nous</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Laissez-nous vos coordonnées et notre équipe vous contactera dans les plus brefs délais.</p>
          <form method="POST" action="https://neamar.fr/email.php" id="contactForm">
            <input type="hidden" name="protection" id="protection" value="1" />
            <input type="hidden" name="_subject" value="Contact : 1001 fenêtres" />
            <input type="hidden" name="_to" value="contact@1001fenetres.com" />
            <input type="hidden" name="message" value="" id="message" />
            <div class="form-group">
              <span class="input_icon mail"><i class="fa fa-envelope" aria-hidden="true"></i></span>
              <input type="email" class="form-control" required id="_replyto" name="_replyto" placeholder="Email">
            </div>
            <div class="form-group">
              <span class="input_icon"><i class="fa fa-mobile" aria-hidden="true"></i></span>
              <input type="telephone" class="form-control" required id="phone" name="phone" placeholder="Téléphone">
            </div>
            <p>Vous êtes intéressé par un devis gratuit pour :</p>
            <div class="row-wrap">
              <div class="form-check">
                <input class="" type="checkbox" value="menuiseries" id="menuiseries" name="interests">
                
                <label class="form-check-label" for="menuiseries">
                  <img src="/img/modal/menuiseries.svg">
                  <span>Menuiseries, Volets</span>
                </label>
              </div>
              <div class="form-check">
                <input class="" type="checkbox" value="portes et volets" id="porte-volets" name="interests">
                <label class="form-check-label" for="porte-volets">
                  <img src="/img/modal/porte.svg">
                  <span>Portes</span>
                </label>
              </div>
              <div class="form-check">
                <input class="" type="checkbox" value="occultation solaire" id="occultation-solaire" name="interests">
                
                <label class="form-check-label" for="occultation-solaire">
                  <img src="/img/modal/pergola.svg">
                  <span>Pergolas, Stores</span>
                </label>
              </div>
              <div class="form-check">
                <input class="" type="checkbox" value="vitrines" id="vitrines" name="interests">
                <label class="form-check-label" for="vitrines">
                  <img src="/img/modal/vitrine.svg">
                  <span>Vitrines</span>
                </label>
              </div>
              <div class="form-check">
                <input class="" type="checkbox" value="portails et clotûres" id="portails-clotures" name="interests">
                <label class="form-check-label" for="portails-clotures">
                  <img src="/img/modal/portails.svg">
                  <span>Portails, Clôtures, Portes de garage</span>
                </label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary btn-vert" value="Envoyer" />
          </div>
        </form>
      </div>
      <div id="mailsent">
        <div class="modal-header">
          <h5 class="modal-title">Rapport d'envoi</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="info success">
            <img src="/img/modal/envoye.svg">
            <p>Votre message a bien été envoyé.</p>
          </div>
          <div class="info error">
            <img src="/img/modal/probleme.svg">
            <p>Une erreur s'est produite.</p>
            <button class="btn btn-primary btn-vert" id="form-retry">Réessayer</button>
          </div>
      </div>
    </div>
  </div>
</div>
